<head>
    <meta charset="utf-8" />
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<% if (page.description){ -%>
    <meta name="description" content="<%= page.description %>" />
<% } else if (config.description){ -%>
    <meta name="description" content="<%= config.description %>" />
<% } -%>
    <meta name="author" content="<%= config.author %>" />
    <meta name="keywords" content="<%= config.keywords %>" />
<% if (theme.baidu_site_verification){ -%>
    <meta name="baidu-site-verification" content="<%= theme.baidu_site_verification %>" />
<% } -%>
<% if (theme.google_site_verification){ -%>
    <meta name="google-site-verification" content="<%= theme.google_site_verification %>" />
<% } -%>
<%
var title = [];
if (page.current > 1) title.push(__('page', page.current));
if (page.title) title.push(page.title);
if (page.category) title.push(__(page.category));
if (page.tag) title.push(__(page.tag));
if (page.archive) {
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
}
title.push(config.title);
-%>
    <title><%= title.join(' - ') %></title>
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/main.css?v=1.0.0" />
    <!--[if lt IE 9]>
        <script src="//cdn.bootcss.com/html5shiv/3.7.0/html5shiv.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js" type="text/javascript" charset="utf-8"></script>
    <![endif]-->
<% if (theme.favicon){ -%>
    <link rel="shortcut icon" href="<%= theme.favicon %>" />
<% } -%>
<% if (theme.appicon){ -%>
    <link rel="icon" sizes="192x192" href="<%= theme.appicon %>" />
    <link rel="apple-touch-icon-precomposed" sizes="192x192" href="<%= theme.appicon %>" />
    <link rel="apple-touch-icon-precomposed" href="<%= theme.appicon %>" />
<% } -%>
    <link rel="alternate" type="application/rss+xml" title="<%- config.title %>" href="<%= theme.rss_url %>" />
<% if (theme.baidu_tongji){ -%>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?<%= theme.baidu_tongji %>";
            var s = document.getElementsByTagName("script")[0]; 
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
<% } -%>
</head>
