<head>
    <meta charset="utf-8">
    <meta http-equiv="Cache-Control" content="no-transform" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
<% if (page.description){ -%>
    <meta name="description" content="<%= page.description %>">
<% } else if (config.description){ -%>
    <meta name="description" content="<%= config.description %>">
<% } else if (page.excerpt){ -%>
    <meta name="description" content="<%= strip_html(page.excerpt).replace(/^\s*/, '').replace(/\s*$/, '') %>">
<% } else if (page.content){ -%>
    <meta name="description" content="<%= strip_html(page.content).replace(/^\s*/, '').replace(/\s*$/, '').substring(0, 150) %>">
<% } -%>
    <meta name="author" content="<%= config.author %>">
    <meta name="keywords" content="<%= config.keywords %>">
<%
var title = [];
if (page.current > 1) title.push(__('page', page.current));
if (page.title) title.push(page.title);
if (page.category) title.push(__(page.category));
if (page.tag) title.push(__(page.tag));
if (page.archive) {
    if (page.year) title.push(__('archive_b', page.year + (page.month ? '/' + page.month : '')));
    else title.push(__('archive_a'));
}
title.push(config.title);
-%>
    <title><%= title.join(' - ') %></title>
    <link rel="alternate" type="application/rss+xml" title="<%- config.title %>" href="<%- theme.rss_url %>" />
    <link rel="stylesheet" href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- css('css/main.css') %>
    <script src="//cdn.bootcss.com/jquery/1.11.0/jquery.min.js" type="text/javascript" charset="utf-8"></script>
    <%- js('js/main.js') %>
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
